@use 'variables' as v;

@mixin telefono {
    @media(max-width: v.$telefono) {
        @content;
    }
}

@mixin menosTelefono {
    @media(max-width: v.$menosTelefono) {
        @content;
    }
}

@mixin tablet {
    @media(max-width: v.$tablet) {
        @content;
    }
}

@mixin destkop {
    @media(max-width: v.$desktop) {
        @content;
    }
}
@mixin destkopXL {
    @media(max-width: v.$desktopXL) {
        @content;
    }
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columnas : 1, $gap : 5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}