@use 'base/variables' as v; 
@use 'base/mixin' as m;

.header {
    background-color: v.$verde;
    z-index: 100;
    @include m.telefono {
        &.header-fixed {
            display: none;
        }
    }
    &.header-fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: .1rem .2rem .3rem #333;
    }


    @include m.telefono {

    }
    .contenido-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        @include m.telefono {
            display: inline-block;
        }
    }

    h1 {
        color: v.$blanco;
        margin: 0;
        @include m.telefono {
            margin-bottom: 5rem;
            text-align: center;
        }
    }
}

.navegacion-principal {
    display: flex;
    gap: 2rem;
    @include m.telefono {
        flex-direction: column;
        align-items: center;
    }

    a {
        color: v.$blanco;
        text-decoration: none;
        font-size: 2.4rem;
        &:hover, &.active { //El & elimina el espacio antes del : para dar resultado a:hover
            color: v.$amarillo  
        }    
    }
}

